@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

:root {
  --normal-color: #A8A77A;
  --fire-color: #EE8130;
  --water-color: #6390F0;
  --electric-color: #F7D02C;
  --grass-color: #7AC74C;
  --ice-color: #96D9D6;
  --fighting-color: #C22E28;
  --poison-color: #A33EA1;
  --ground-color: #E2BF65;
  --flying-color: #A98FF3;
  --psychic-color: #F95587;
  --bug-color: #A6B91A;
  --rock-color: #B6A136;
  --ghost-color: #735797;
  --dragon-color: #6F35FC;
  --dark-color: #705746;
  --steel-color: #B7B7CE;
  --fairy-color: #D685AD;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', 'Arial Narrow Bold', sans-serif;
  overflow:hidden;
}

/* .landingPage {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landingContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
} */